
@{
    ViewBag.Title = "signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script>
        function myFunction() {
            alert("You are successfully logged in!");
        }

/**/</script>
<h2>Register for a Star Kidz account</h2>

<div class="home">
    <label>First Name: </label>
    <br />
    <input type="text" />
    <br />
    <label>Last Name: </label>
    <br />
    <input type="text" />
    <br />
    <label>Date of Birth: </label>
    <br />
    <input type="date" />
    <br />
    <label>Grade: </label>
    <br />

    <input type="text" />
    <br />
    <label>Email Address: </label>
    <br />
    <input type="text" />
    <br />
    <label>Parent First Name: </label>
    <br />
    <input type="text" />
    <br />
    <label>Parent Last Name: </label>
    <br />
    <input type="text" />
    <br />
    <label>Parent Email Address: </label>
    <br />
    <input type="text" />
    <br />

    <br />

    <div align="right">
        <input onclick="myFunction(@("window.location.href='" + @Url.Action("home", "Star") + "'"));" type="button" value="Register Now!" />
    </div>

</div>




<style>
    body {
        background-image: url('../../Content/depositphotos_115412782-stock-photo-indian-boy-and-girl-studying.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .home {
        font-size: 30px;
        margin: auto;
        width: 50%;
        border: 3px black;
        border-style: solid;
        border-width: medium;
        padding: 10px;
        padding: 12px 20px;
        box-sizing: border-box;
        font-family: 'Comic Sans MS'
    }
</style>