
@{
    ViewBag.Title = "AnswerCorrect";
}

<body style="background-image: url('../../Content/WhatsApp Image 2019-08-17 at 10.02.29.jpeg'); background-size: cover">
    <h1 style="font:bold; font-family:'Comic Sans MS'; color:white">STAR kidZ</h1>


    <br />

    <div style="text-align:center; background-color:midnightblue; border-color:white; border-style:ridge; border-width:3px; border-radius:25px;">

        <h2 style=" font-family:'Comic Sans MS'; color:white; text-decoration:underline;">Maths Test</h2>
        <h3 style="font-family:'Comic Sans MS'; color:white">0,02 x 100 =</h3>
        <img style="float:right;" src="~/Content/right or wrong (2).jpg" /> 
    </div>

    <br />

    <div style="text-align:center; background-color:midnightblue; border-color:white; border-style:ridge; border-width:3px; border-radius:25px; ">

        <label style="color:white; font-family:'Comic Sans MS';">Answer:</label>
        <br />
        <input value="2" />
        <br />
        <button onclick="@("window.location.href='" + @Url.Action("home", "Star") + "'");">Next</button>
    </div>


</body>

<button onclick="@("window.location.href='" + @Url.Action("TestResult", "Star") + "'");">End Test</button>

