
@{
    ViewBag.Title = "UserHW";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Homework</h2>


@{
    ViewBag.Title = "UserHW";
}
<style>
    body {
        background-image: url('../../Content/21074350-modern-white-background-seamless-patterns.jpg');
    }

    h1 {
        color: midnightblue;
        text-align: left;
        font-family: 'Comic Sans MS'
    }

    h2 {
        color: midnightblue;
        text-align: left;
        font-family: 'Comic Sans MS';
    }

    label {
        color: midnightblue;
        font-family: Calibri;
    }

    p {
        font-size: 20px;
        font-family: Calibri;
        color: midnightblue;
    }

    table {
        width: 70%;
    }

    th, td {
        padding: 15px;
        text-align: left;
    }

    th {
        background-color: midnightblue;
        font-family: 'Comic Sans MS';
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>


<h1>STAR kidZ</h1>
<h2>Homework</h2>
<div>
    <table>
        <tr>
            <th>Question</th>
            <th>Max Marks</th>
            <th>Answer</th>
        </tr>
        <tr>
            <td>9 x 9</td>
            <td>2</td>
            <td><input type="text" value="" /></td>

        </tr>
        <tr>
            <td>9 x 9 + 10 -2 </td>
            <td>4</td>
            <td><input type="text" value="" /></td>

        </tr>
        <tr>
            <td>44 x 2 + 56</td>
            <td>4</td>
            <td><input type="text" value="" /></td>

        </tr>
        <tr>
            <td>7 x 3 + 8</td>
            <td>3</td>
            <td><input type="text" value="" /></td>

        </tr>
        <tr>
            <td>109 - 9 x 3 + 10</td>
            <td>5</td>
            <td><input type="text" value="" /></td>

        </tr>
    </table>
    <br />
</div>
@using (Html.BeginForm("UserHWResults", "Homework"))
{
    <input type="submit" value="Submit homework" />
}
