
@{
                /**/

                ViewBag.Title = "PDFdocument";
                Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDFdocument</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<body>

    <h1 style="color:white">PDF Document</h1>
    <div style="background-color:midnightblue">

        <h3 style="color:white">Brittany, Your  Report is available for download below</h3>

        <a href="~/Models/Pictures/StarKidzFinalReport.pdf">Download Report Document</a>
    </div>
</body>
</html>


